[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[ dn ]
C  = ES
ST = Almeria
L  = Almeria
O  = Cliente-Lab
OU = IT
CN = vault.cliente.lab.local

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = vault.cliente.lab.local
