HOMEPAGE_PORT={{ homepage_port | default(3000) }}

TIMEZONE={{ msp_timezone }}

ALLOWED_HOSTS={{ core_domains.homepage }},{{ ansible_host }}:{{ homepage_port | default(3000) }}

HOMEPAGE_CONFIG={{ homepage_config_path | default('/opt/data/homepage/config') }}

DOCKER_SOCKET=/var/run/docker.sock
