PROMETHEUS_PORT={{ prometheus_port | default(9090) }}
GRAFANA_PORT={{ grafana_port | default(3002) }}
LOKI_PORT={{ loki_port | default(3100) }}

PROMTAIL_CONFIG={{ promtail_config_path | default('/opt/data/monitoring/promtail') }}
PROMETHEUS_CONFIG={{ prometheus_config_path | default('/opt/data/monitoring/prometheus') }}
GRAFANA_DATA={{ grafana_data_path | default('/opt/data/monitoring/grafana') }}
LOKI_CONFIG={{ loki_config_path | default('/opt/data/monitoring/loki') }}

TIMEZONE={{ msp_timezone }}

GRAFANA_ADMIN_USER={{ vault_grafana_admin_user }}
GRAFANA_ADMIN_PASSWORD={{ vault_grafana_admin_password }}
